@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.link-part {
  text-decoration: none;
  min-width: 150px;
  color: rgb(212, 216, 219);
  font-size: 15px;
}
.link-part:hover {
  color: white;
}
.background-logo {
  background-image: url("../src/images/img.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: absolute;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
.input-name {
  width: 95%;
  height: 30px;
  margin: 10px 0 10px 0;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.btn-name {
  width: 70px;
  border: 1px solid #fff;
  font-size: 15px;
  margin: 5px 0 0 110px;
  padding: 5px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
}
.valueBtn {
  width: 180px;
  text-align: center;
  height: 45px;
  background-color: #2584b3;
  color: white;
  font-size: 15px;
  font-family: "Fredoka One", cursive;
  border-radius: 5px;
  border: none;
}
/* Try */
.value-toggle {
  visibility: hidden;
  width: 180px;
  height: 45px;
  background-color: #2584b3;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.valueUsed {
  width: 180px;
  text-align: center;
  height: 45px;
  background-color: #faeb56;
  color: white;
  font-size: 15px;
  font-family: "Fredoka One", cursive;
  border-radius: 5px;
  border: none;
}
.style-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.bottomAnswer {
  text-align: center;
  margin-top: 15px;
}
.btn-header {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #fbec56;
  color: black;
  border-radius: 5px;
}
.rightAnswer {
  margin: 40px 0 0 40px;
  /* font-family: "Fredoka One", cursive; */
  /* color: #ca1817; */
  color: white;
}
.rightAnswer span {
  font-size: 20px;
  color: #faeb56;
}
/* Start page */
.btn-start {
  width: 85%;
  height: 55px;
  text-align: center;
  font-size: 20px;
  margin: 55% 450px 0 0;
  border: none;
  background-color: #faeb56;
  border-radius: 10px;
}
.start-rules {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin: 12% 0 0 70px;
}
.rules {
  padding: 5px 0 0 0;
  margin: 20px 0 0 0;
  line-height: 40px;
}
/* Dialog Part */
.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px 5px 5px;
  font-family: "Fredoka One", cursive;
}
.toolbar h3 {
  color: #0d597f;
  font-weight: bold;
}
.questionDialog h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 10px 0 10px 0;
}
.questionDialog p {
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 0 10px 0;
  font-size: 18px;
}
.btnDialog {
  width: 80px;
  height: 30px;
  background-color: #0d597f;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 20px 15px 0;
  font-size: medium;
}
.timeDisplay {
  display: flex;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
}

.timeDisplay h3 {
  color: #0d597f;
  margin-top: 4px;
  font-size: medium;
}
.timeDisplay span {
  border-radius: 5px;
  width: 15px;
  padding: 8px;
  color: white;
  font-size: 20px;
  background-color: red;
}
/* Category Style */
.category-name {
  font-family: "Fredoka One", cursive;
}
/* About part */
.infoText {
  width: 45%;
  padding: 15% 0 0 35px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
}
.infoPart {
  padding: 40px 15% 0 0;
  width: 45%;
}
.infoFAQ {
  width: 100%;
  padding: 20px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}

/* Info Accordion Part */
.question {
  border: 1px solid white;
  margin: 10px;
  padding: 20px;
  color: white;
  width: 500px;
  border-radius: 5px;
}
.question h4 {
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
}
.question p {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0 10px 0;
}
.btn {
  width: 30px;
  height: 30px;
  background-color: #0e4864;
  color: wheat;
  border: none;
  border-radius: 4px;
}
/* Background Change */
.bg-salmon {
  background-color: #fbec56;
}
/* Statistic Part */
.statistic-part {
  width: 90%;
  padding: 5% 0 0 35px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.checked {
  background-color: #2584b3;
}
.statistic-part td,
.statistic-part th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}
